my-env.sh
bin/my-deploy.sh
junit.xml
.coverage
coverage.xml
html.cov
*.pyc
.canary_cache
.canary_cache/*
.canary_cache*
Results*
TestResults*
TestPartitions*
TestBatches*
_test-cache
__pycache__
.canary
.mypy_cache
partition.p.*
canary.cfg
scripts/sbatch
docs/source/commands.rst

src/*.egg-info/
src/_canary/version.py

docs/build
build

.pre-commit.log
.DS_Store

mock-tests

*.orig

examples/ctest/ctest-command.txt
examples/ctest/Testing/
Testing

# spack develop build artifacts
build/
build-linux*

venv
dist

canary.yaml

testcase.lock
testcases.lock

tmp
